/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/*------ Variables */

:root {
    /*------ Colores */
    --green-color: #7ACC2D;
    --black-color: rgb(82, 82, 82);
    --white-color: #fff;
    --pink-color: rgb(219, 200, 190);
    /*------ Tipografía */
    --normal: 12px;
    --title: normal normal normal 2rem/1.25em 'playfair display', serif;
    --subtitle: normal normal normal 1rem/1.25em 'playfair display', serif;
    /*------ Espaciado */
    --space: 10px;
    --space-2: 20px;
    /*------ Box shadow*/
    --box: 0px 0 2px 1px #e6e5e9;
    --pink-color-dark: rgb(187, 150, 131);
}


/* -------------------------------------------  */

body {
    margin: 0;
    font: normal normal normal 'playfair display', serif;
    
}
.cover {
    display: grid;
    grid-template-columns: 90% 10%;
    
    position: absolute;
}
.cover div {
    height: 100vh;
}
.cover img {
    z-index: -1;
    overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    letter-spacing: -.2px;
    z-index: -1;
    display: block;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font: bold 1rem;
}
h1 {
    margin: var(--space) 24%;
    color: var(--pink-color-dark);
    font: var(--title);    
    text-shadow: 1px 0px 0 var(--black-color);
}
h2 {
    font: var(--title);
    color: var(--pink-color-dark);
    padding: 20px 0px;
    text-align: center;
    /* text-transform: capitalize; */
    font-size: 2rem;
    /* font-weight: 600; */
    
    text-shadow: 1px 0px 0 var(--black-color);
}
h3{
    font-size: 24px;
}
a {
    text-decoration: none;
}

section {
    margin-top: 30px;
}

/* ------------------------------------------- HEADER SECTION */

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

.logo img {
    display: none;
}


/* ------------------------------------------- RESPONSIVE MENU */


/*logo*/

.logo-responsive img {
    height: 60px;
    display: none;
}

header {
    padding: 0.5% 1%;
    background-color: var(--white-color);
    position: fixed;
    width: 100%;
    z-index: 3;
    /* box-shadow: 49px 12px 12px -1px rgb(255, 255, 255); */
    /* background-image: url("../images/1.2.PNG"); */
    /* background-repeat: no-repeat;
    background-position: right; */
    /* box-shadow: 0px 0px 16px 0px rgb(235,146,93,1) */

    /* background-size: 82% 135%;
    background-repeat: repeat-x; */
}

/*hamburguer menu*/

.open,
.close {
    display: inline-block;
    padding: var(--space) 0 0 30px;
    cursor: pointer;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    transition: .5s;
    margin-left: -40px;
    text-align: right;
    width: 100%;
    padding: 2%;
    line-height: 2;
}


/*overlay*/

.overlay {
    position: fixed;
    width: 0;
    top: 0;
    background-color: #333;
    opacity: .7;
    overflow-x: hidden;
    height: 100%;
    transition: .5s;
}

.overlay-content {
    text-align: center;
    position: relative;
    width: 100%;
    padding-top: 50px;
    margin-top: 30px;
}


/*menu links*/

.overlay-content a {
    font-size: 2rem;
    color: var(--white-color);
    display: block;
    padding: var(--space);
    margin-bottom: 15px;
    text-decoration: none;
    transition: .3s;
    position: relative;
}

.overlay-content a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 3px;
    background: var(--white-color);
    transition: .3s;
    display: block;
}

.overlay-content a:hover {
    color: var(--pink-color);
}

.overlay-content a:hover:after {
    width: 25%;
}


/*------------------------------menu*/

.menu-content a {
    color: var(--black-color);
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    flex-direction: row;
    line-height: 54px;
    margin: 0 5px;
    padding: 2px 9px;
}

.menu-content a :hover,
footer a :hover {
    color: #bdc5bd;
}

#body {
    padding-top: 70px;
}


/* ------------------------------------------- HERO SECTION */

.hero {
    display: flex;
    width: 100%;
    height: 45vh;
}

.hero .titles {
    display: flex;
    width: 100%;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    height: inherit;
    z-index: 2;
}



.hero h2 {
    margin: var(--space) 24%;
    color: var(--black-color);
    font: var(--title);
    font-size: 1.5rem;
    padding: 0 10px;
}

.pink {
    color: var(--pink-color);
}

.black {
    color: var(--black-color);
}


.hero figure {
    margin: 0;
    overflow: hidden;
    position: absolute;
    z-index: -2;
    height: 94vh;
    width: 100%;
    display: none;
}

.hero figure img,
.hero figure iframe {
    height: 45vh;
    max-height: 400px;
    width: 100%;
    object-fit: cover;
    opacity: 0.3;
}
.btn-resume {
    background-image: linear-gradient(to right, #ff8678, #ffbeb2);
    border-radius: 1000px;
    color: white;
    display: block;
    font-size: 20px;
    height: 53px;
    line-height: 53px;
    margin-top: 30px;
    text-decoration: none;
    width: 175px;
    text-align: center;
}


/* ------------------------------------------- MAIN SECTION */

.main_section {
    text-align: center;
    padding: 15%;
}
/* ---------------------------------------------TECNOLOGIES */
.technologies {
    
    background-image: url("../images/3.PNG");
    background-repeat: no-repeat;
    background-position: right;
}
.technologies img{
    height: 70px;
    margin: 10px;
}
.technologies .container{
    flex-direction: column;
}

.technologies .container>div>div{
    display: inline-block;
}

.about .container,
.tecnologies .container
{
    
    flex-direction: column;
    align-items: center;
}
/* ---------------------------------------------- ABOUT */
.about {
    
    background-image: url("../images/7.2.PNG");
    background-repeat: no-repeat;
    background-position: left;
}

.about .container p{
    
    width: 90%;
    font-size: 18px;
}
.photo {
    border-radius: 50%;
    width: 150px;
    border-color: #ffbcd9;
    border-width: 3px;
    border-style: solid;
}
/* -------------------------------------------  PROYECTOS */

.projects, .main-content {
    /* background-color: var(--white-color); */
    
    background-image: url("../images/8.2.PNG");
    background-repeat: no-repeat;
    background-position: right;
}

.projects-collection {

    
    
}

.project {
    width: 100%;
}

.project-image-container:hover {
    /* opacity: 0.75; */
}

.project-details {
    padding: 3% 2%;
}

.project-title {
    font-size: 1.3rem;
    font-weight: 600;
}

.project-image {
    width: 100%;
    z-index: -1;
    object-fit: cover;
    height: 200px;
}

.project-url {
    color: var(--black-color);
    display: inline-block;
}

.date {
    font-style: lighter;
    font-weight: 300;
    color: #666666;
    font-size: 1rem;
    line-height: 29px;
    margin: 1%;
}
.info {
    text-align: center;
}
.contact {
    /* min-height: 300px; */
    text-align: center;
    /* margin: 3%; */
    font-size: 1rem;
    
}

.contact p {
    font-weight: 500;
    color: var(--black-color);
}

.contact a {
    color: var(--black-color);
    display: inline-grid;
}

.email {
    font-size: larger;
}

.contact .container {
    margin: var(--space) 0;
    display: block;
}

.contact .container div {
    margin: var(--space-2) 0;
}

.social-link {
    display: inline-block;
    margin: var(--space-2) var(--space) var(--space);
    background-repeat: no-repeat;
    color: var(--black-color);
}

.social-link.linkedin {
    background-image: url('../images/linkedin.svg');
}

.social-link.github {
    background-image: url('../images/github.svg');
}

.social-link.twitter {
    background-image: url('../images/twitter.svg');
}

.social-link.skype {
    background-image: url('../images/skype.svg');
}

.icon-arrow-up {
    background-image: url('../images/arrow-up.svg');
    width: 32px;
    height: 32px;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    font-size: 0px;
    line-height: 0px;
}
.resume-content .main-content {
    
    color: var(--black-color);
    padding: var(--space-2);
}
.resume-content .resume-sidebar{
    color: var(--white-color);
    text-align: center;
}

.resume-content .main-content p {
    padding: 0 var(--space-2);
}
.resume-content h1{
    color: var(--pink-color-dark);
    font-size: 40px;
    text-align:center;
}
.resume-content h2{
    font-size: 32px;
    text-align:center;
}

.resume-content h3{
    font-size: 26px;
}
section .item {

    display: grid;
    grid-template-columns: 100%;
}
.resume-content section,.resume-content section .item{
    padding: var(--space-2);
}
.resume-content sidebar a {
    text-decoration: initial;
    display: block;
    color: var(--white-color);
}
footer {
    /* background: var(--black-color); */
    /* background:#ff8275; */
    text-align: center;
    padding: var(--space-2) 0;
    color: var(--black-color);
    font-size: 1rem;
    box-shadow: 0px 12px 19px 11px rgb(235,146,93,1);
}

footer a {
    color: var(--black-color);
}

.button {
    font-size: 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    text-decoration: none;
    color:var(--pink-color-dark);
    border-color: #ed776b;
    font-weight: 700;
    background-color: #fff;
}
a.button {
    color: #ed776b;
}

.btn-secundary {
    
    border-radius: 6px;
    display: inline-block;
    width: 175px;
    height: 53px;
    line-height: 53px;
    text-align: center;
    margin: 12px;
    color: #ed776b !important;
    border-color: #ed776b;;
}

.social-link {
    width: 50px;
    height: 50px;
    background-size: 50px;
    background-color: #d187bd;
    border-radius: 50%;
}

@media screen and (min-width: 700px) {
    header {
        background-size: 46% 110%;
    }
    .hero {
        background-image: url("../images/2.2.PNG");
        background-repeat: no-repeat;
        background-position: left;
    }
    .hero h1 {
        font-size: 42px;
    }
    h2 {
        font-size: 38px;
    }
    .about .container p {
        width: 45%;
    }
    .project {
        width: 100%;
        display:grid;
        grid-template-columns: 50% 35%;
        
    }
    .project-title {
        font-size: 22px;
    }
    .date {
        font-size: 20px;
    }
    .contact footer{
        font-size: 18px;
    }
    .social a {
        font-size: medium;
    }
    .hero figure img,
    .hero figure iframe {
        height: 85vh;
    }
    .hero {
        height: 80vh;
        max-height: 400px;
    }
    .contact {
        background-image: url("../images/6.2.PNG");
        background-repeat: no-repeat;
        background-position: left;
    }
    .resume-content{
        display: grid;
        grid-template-columns:75% 25%;
    }
    
    section .item{
        display: grid;
        grid-template-columns: 25% 75%;
    }
}

@media screen and (max-width: 450px) {
    h1 {
        margin: var(--space) 10%;
    }
    .menu-content a {
        font-size: 18px;
        margin: 0 5px;
        padding: 5px 6px;
    }
    
}