/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
/*------ Variables */
:root{
  /*------ Colores */
  --green-color: #7ACC2D;
  --black-color: #1e2025;
  --white-color:  #fff;
  --pink-color: #DBC8BE;
  /*------ Tipografía */
  --normal:12px;
  --title:normal normal normal 2rem/1.25em 'playfair display',serif;
  --subtitle:normal normal normal 1rem/1.25em 'playfair display',serif;
  /*------ Espaciado */
  --space:10px;
  --space-2:20px;
  /*------ Box shadow*/
  --box:0px 0 2px 1px #e6e5e9;
}

/* -------------------------------------------  */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;;
    background-color: var(--black-color);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    letter-spacing: -.2px;
    z-index: -1;
    display: block;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,body{
	width: 100%;
	height: 100%;
	font: bold 1rem Consolas;
}
a{
    
    text-decoration: none;
}

/* ------------------------------------------- HEADER SECTION */
.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}
.logo {
    display:none;
}


/* ------------------------------------------- RESPONSIVE MENU */
header {
    
	padding: 2%;
}
/*logo*/
.logo-responsive img {
    height: 150px;
    }

    /*hamburguer menu*/
.open, .close{
	display: inline-block;
	padding:var(--space) 0 0 30px;
	cursor: pointer;
	font-size:4.7rem;
	color: var(--white-color);
	text-decoration: none;
    transition: .5s;
    margin-left: -40px;
    text-align: right;
    width: 100%;
    padding: var(--space-2) 25px 0 30px;
}

/*overlay*/
.overlay{
	position: fixed;
	width: 0;
	top: 0;
	background-color: #333;
	opacity: .7;
	overflow-x: hidden;
	height: 100%;
	transition: .5s;
}

.overlay-content{
	text-align: center;
	position: relative;
	width: 100%;
	padding-top: 50px;
	margin-top: 30px;
}
/*menu links*/
.overlay-content a {
	font-size: 5rem;
	color: var(--white-color);
	display: block;
	padding:var(--space);
	margin-bottom: 130px;
	text-decoration: none;
	transition: .3s;
	position: relative;

}
.overlay-content a:after{
	content: "";
	position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 3px;
    background: var(--white-color);
    transition: .3s;
    display: block;

}
.overlay-content a:hover{
	color: var(--pink-color);
}

.overlay-content a:hover:after{
	width: 25%;
}

/* ------------------------------------------- HERO SECTION */
.hero {
    display: flex;
    width: 100%;
    /*45% el altro del dispositivo*/
    height: 45vh;
}

.hero .container {
    height: inherit;
}
.hero h1 {
    margin: auto;
    color: var(--pink-color);
    position: relative;
    text-align: center;
    font: normal normal normal 5rem/1.25em 'playfair display',serif;
}
.hero h2 {
    margin: 20%;
    font: normal normal normal 3rem/1.25em 'playfair display',serif;
}

.pink {
    color: var(--pink-color);
}

.black {
    
    color: var(--black-color);
}

h2 {
    padding: 40px 0px;
    text-align: center;
    text-transform: capitalize;
    font: bold 4rem Consolas;
}
.hero figure {
    margin: 0;
    overflow: hidden;
    position: absolute;
    z-index: -2;
    height: 94vh;
}
.hero figure img,
.hero figure iframe
 {
    height: 45vh;
    width:  100%;
    object-fit: cover;
    /* filter: blur(2px); */
    opacity: 0.3;
}

/* ------------------------------------------- MAIN SECTION */

.main_section{
  text-align: center;
  padding: 15%;
}

/* -------------------------------------------  PROYECTOS */
.projects {
    
    font-family: 'RobotoSlab', Georgia, serif, Helvetica, Arial, Sans-Serif;
    background-color:   var(--pink-color);
}
.projects-collection {
    display: flex;
    flex-wrap: wrap;
    
}
.project {
    flex-shrink: 0;
    width: 100%;
}
.project-image-container:hover {
    opacity: 0.75;
}
.project-details {
    padding: 3% 2%;
}
.project-title {
    font-size: 3rem;
    font-weight: 600;
    text-transform: capitalize;
}
.project-image  {
    width: 100%;
    z-index: -1;
    object-fit: cover;
}
.project-url {
    color: var(--black-color);
    display: inline-block;
}


.date {
    font-style: lighter;
    font-weight: 300;
    color: #666666;
    font-size: 2.4rem;
    line-height: 29px;
    margin: 1%;
}
.contact {
    color: var(--pink-color);
    font-family: 'RobotoSlab', Georgia, serif, Helvetica, Arial, Sans-Serif;
    min-height:300px ;
    text-align: center;
    margin: 3%;    
    font-size: 1.5rem;
}

.contact p{
    font-weight: 500;
    color: var(--white-color);
}
.contact a{
    color: var(--white-color);
}
.contact .container {
    margin: var(--space) 0;
    display: block;
}
.contact .container div {
    margin: var(--space-2) 0;
}

.social-link{
    width: 100px;
    height: 100px;
    display: inline-block;
    background-size: 100px;
    margin: var(--space-2) var(--space);
    background-repeat: no-repeat;
}

.social-link.linkedin{
    background-image: url('../images/linkedin.svg');
}
.social-link.github{
    background-image: url('../images/github.svg');
    
}


.icon-arrow-up{
    background-image: url('../images/arrow-up.svg');
    width: 32px;
    height: 32px;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    text-align: right;
    font-size: 0px;
    line-height: 0px;
    
}

footer {
    background: #26282d;
    text-align: center;
    padding: var(--space-2) 0;
    color: var(--white-color);
    
    font-size: 2rem;
}

footer a{
    color: var(--white-color);
    
}

@media (max-width: 800px) {
    .hero figure img, .hero figure iframe {
        height: 65vh;
    }
    .hero {
        height: 65vh;
        max-height: 400px;
    }
}

@media (max-width: 900px) {
    .hero figure img, .hero figure iframe {
        height: 65vh;
    }
    .hero {
        height: 65vh;
        max-height: 400px;
    }
}