
body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    letter-spacing: -.2px;
}
.container {
    width: 1024px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
}
header, footer {
    background-color: #1d252c;
    padding: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 82px;
}
header div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
header ul,
header ol {
    list-style:none;
   display: flex;
   justify-content: center;
   align-items: center;
}

header a {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    flex-direction: row;
    padding: 10px 0;
    line-height: 80px; 
    margin:0 40px;
}
header a :hover,
footer a :hover  {
    color:#bdc5bd;
}
.logo {
    margin: 15px 0px;

}
.button {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px 50px;
    text-decoration: none;
}

.hero {
    display: flex;
    width: 100%;
    background-color: #1d252c;
}

.hero h1 {
    font-size: 40px;
    color:#fff;
    margin: 20px;
    line-height: 1.5;
    
}
.hero figure,.hero h1 {
    width:  50%;
}
.hero figure {
    margin: 0;
}
.hero figure img {
    width:  100%;
    object-fit: cover;
}

.hero h1 strong, h2{
    color:#026fff;
}

h2 {
    font-size: 30px;
    padding: 30px 65px;
    margin: 0;
}

.main-section {
   background-color:  #fafafa;
   border-left: 27px solid #026fff;
}

.project {
    display: flex;
    background-color: #ffffff;
    margin: 0 30px 30px;
    border-radius: 5px;
    box-shadow: 3px 3px 20px #e5e0e0 ;
}
.project-details {
    padding: 35px;
    width: 50%;
}
.project-title  {
    font-size: 40px;
    line-height: 0;
}
.project-course {
    font-size: 20px;
    color: #6d6d6d;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 0;
}
.project-date ,.project-url  , .project-description {
    font-size: 20px;

}
.project-description, .project-date strong ,.project-url strong {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}
.project-date strong ,.project-url strong {
    text-transform: uppercase;
}
.project-description{
    line-height: 2;
}
.project-image-container  {
    margin:0;
    width: 50%;
}

.project-image {
    width: 109%;
}

.events-collection {
    display: flex;
    flex-wrap: wrap;
}
.event {
    flex-shrink: 0;
    width: 45%;
    box-shadow: 3px 3px 20px #e5e0e0;
    margin: 20px 10px 20px 40px;
    box-sizing: border-box;
    background-color: #f4fbff;
    border-radius: 5px;
}

.event-details {
    
    padding: 15px;
    text-align: center;
    background-color: #fff;
    margin: -45px 35px 35px;
    position: relative;
}
h3 {
    font-size: 24px;
}
.event-image-container  {
    margin: 0;
    max-height: 300px;

    overflow: hidden;
}
.event-image  {
    width: 100%;
    z-index: -1;
    object-fit: cover;
}
.event-url {
    color:#026fff;
    border: 2px solid #026fff;
    display: inline-block;
}

.contact {
    display: flex;
    background-color:#026fff;
    color: #fff;
    align-items: center;
    height: 150px;
    justify-content: space-between;
    padding: 20px;
}
.social-link{
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: 50px 50px; 
    margin: 0 10px;
}

.social-link.twitter{
    background-image: url('../images/twitter.svg');
}
.social-link.github{
    background-image: url('../images/github.svg');
    
}
.social-link.facebook{
    background-image: url('../images/facebook.svg');
    
}
.social-link.instagram{
    background-image: url('../images/instagram.svg');
    
}

.form-email input {
    border-color: gray;
    padding: 10px 30px 10px 35px;
    border-style: solid;
    border-radius: 5px; 
    background-image: url(../images/envelope.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button {
    display: block;
    background: transparent;    
    color: white;    
    padding: 5px 30px;    
    border-radius: 5px;    
    width: 100px;    
    margin-top: 10px;    
    border-style: solid;
}

.form-email h3 {
    font-family: 'Source Sans Pro', sans-serif;
}
footer img{
    vertical-align: middle;
    height: 50px;
}

footer a {
    color: #fff;
}
.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 700;
}

